/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common CSS */
body {
    font-family: 'Poppins', sans-serif;
}
/* Width */
.half-width {
    width: 45%;
}
.banner,
.main,
.footer {
    width: 80%;
}
/* Image Width */
img {
    width: 100%;
}
/* .margin-auto */
.m-auto {
    margin: auto;
}
/* margin-bottom */
.m-bottom {
    margin-bottom: 50px;
}
.m-0 {
    margin: 0;
}
/* Font Weights */
.font-weight-700 {
    font-weight: 700;
}
.font-weight-500 {
    font-weight: 500;
}
.font-weight-400 {
    font-weight: 400;
}
/* Font Size */
.title {
    font-size: 60px;
}
.sub-title {
    font-size: 40px;
}
.link-font {
    font-size: 20px;
}
.p-font {
    font-size: 16px;
}
/* Color*/
.color-gray {
    color: #727272;
}
.color-dark-gray {
    color: #424242;
}
.color-white {
    color: #FFFFFF;
}
.color-orange {
    color: #FF900E;
}
/* Background */
.background-pink {
    background-color: #FFF4E7;
}
.background-orange {
    background-color: #FF900E;
}
/* Button */
.btn {
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
/* Common Flex */
.nav,
.feature,
.enjoyable-feature,
.facts,
.sopnsors,
.bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fact,
.sponsor-heading,
.bottom-footer {
    text-align: center;
}
/* Border Image */
.border-img {
    padding: 2rem;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            #FF900E,
            #FF900E) 0 0 0 1;
    border-image-width: 4px;
    border-radius: 20px;
}
/* ----------------------------------
            Common CSS End
------------------------------------ */
/* Header CSS */
/* nav */
.nav a {
    margin-left: 30px;
    text-decoration: none;
}
/* ------------------------
        Header Finish
---------------------------*/
/* Main */
/* Feature */
.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
/* Enjoyable Features */
.enjoyable-feature-list {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 2rem;
}
.position {
    position: absolute;
    bottom: 0;
    left: 50%;
}
.position-btn {
    padding: 40px 45px;
    border: none;
    border-radius: 10px;
}
/* Facts */
.fact img {
    height: 45px;
    width: 45px;
}
.fact-hover-zoom {
    transform-origin: 50% 65%;
    transition: transform 3s, filter 1s ease-in-out;
    filter: brightness(150%);
    overflow: hidden;
}
.fact-hover-zoom:hover {
    filter: brightness(100%);
    transform: scale(3);
}
/* Videos: Bonus */
.videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.video-zoom iframe {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
}
/* The Transformation */
.video-zoom:hover iframe {
    transform: scale(1.25);
}
/* -----------------------
        Main End 
--------------------------*/
/* Small Device */
@media only screen and (max-width: 912px) {
    .nav,
    .feature,
    .facts,
    .sopnsors {
        flex-direction: column;
    }
    .nav a {
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 40px;
    }
    .sub-title {
        font-size: 30px;
    }
    .half-width {
        width: 100%;
    }
    .feature-images,
    .videos {
        grid-template-columns: repeat(1, 1fr);
    }
    .enjoyable-feature {
        flex-direction: column-reverse;
    }
    .position-btn {
        padding: 10px;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .position {
        top: 0;
        left: 0;
    }
    .position-btn p {
        font-size: 25px;
    }
    .position-btn span {
        font-size: 14px;
    }
    .video-zoom iframe {
        transition: none;
    }
    .video-zoom:hover iframe {
        transform: none;
    }
}